<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="edit.js" defer></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <h1>Creare Quiz</h1>
    <a href="../index.html">Go to menu</a>
    <form action="">
        <label for="fname">Question:</label><br>
        <input type="text" id="question" placeholder="Add question..."><br><br>
        <div class="answers">
            <label for="fname">answers 1:</label><br>
            <input type="text" id="answer1"><br><br>
            <label for="fname">answers 2:</label><br>
            <input type="text" id="answer2"><br><br>
            <label for="fname">answers 3:</label><br>
            <input type="text" id="answer3"><br><br>
            <label for="fname">answers 4:</label><br>
            <input type="text" id="answer4"><br><br>
        </div>
        <input type="submit" id="submit" value="+Add question">
    </form>
</body>
</html>